body{
    background: #464646;
}

h1{
    text-align: center;
    color: #ffffff;
}

label, input, button{
    margin-left: 15px;
    margin-top: 15px;
}

label{
    color: #ffffff;
}

/* input{
    margin-top: 15px;
    margin-left: 15px;
}

button{
    margin-left: 15px;
    margin-top: 15px;
} */

.block{
    display: block;
}